%nav.navbar.navbar-dark.bg-dark.navbar-expand-lg.fixed-top
  = link_to 'Tiny Santa', root_path, class: 'navbar-brand'
  %button.navbar-toggler{'aria-controls' => 'navigation', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation', 'data-target' => '#navigation', 'data-toggle' => 'collapse', :type => 'button'}
    %span.navbar-toggler-icon
  #navigation.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        = link_to 'Home', root_path
