%nav.navbar.navbar-dark.bg-dark.navbar-expand-lg.fixed-top
  = link_to 'Tiny Santa', root_path, class: 'navbar-brand'
  %button.navbar-toggler{'aria-controls' => 'navigation', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation', 'data-target' => '#navigation', 'data-toggle' => 'collapse', :type => 'button'}
    %span.navbar-toggler-icon
  #navigation.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle#user-menu{'href' => '#', 'role' => 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => true, 'aria-expanded' => false}
          = image_tag current_user.avatar
          = current_user.screen_name
        .dropdown-menu{'aria-labelledby' => 'user-menu'}
          = link_to 'Log out', logout_path, class: 'dropdown-item'
