- if christmas.present?
  - if logged_in?
    - if santa.present?
      .jumbotron
        %h1 Ho ho ho I guess?
    - else
      = render 'signup'
  - else
    = link_to 'Log in with Twitter', '/auth/twitter', class: 'btn btn-primary'
- else
  = render 'missing'
