body {
  padding: 4.5em 0;
}

h1 {
  font-weight: $font-weight-bold;
}

.how-it-works {
  .row {
    .step {
      display: flex;
      align-items: stretch;
      margin-bottom: $spacer;
    }

    section {
      background: $light;
      padding: $spacer;
      border-radius: $border-radius;
      display: flex;
      flex-direction: column;

      h3 {
        font-size: $font-size-lg;
        font-weight: $font-weight-bold;
      }

      p {
        flex: 1;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
